@charset "UTF-8";
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  background-color: rgb(66, 65, 65);
}

/* ******************************************************* */
/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  height: 9.6rem;
  padding: 0 9.6rem;
  /* background-color: #033249; */
  /* background-image: linear-gradient(to right,#764BA2, #667EEA); */
  background-color:#121213;
  position: fixed;
  z-index: 999;
}

.logo:link,
.logo:visited {
  width: 5.6rem;
  height: 9.6rem;
  padding: 30px;
  font-size:40px;
  text-decoration: solid;
  color: rgb(241, 231, 231);
  /* font: bold; */
  font-weight:900 ;
  font-family:Georgia, serif ;
}

.nav {
  display: inline-block;
  text-decoration: none;
}

.nav-link:link,
.nav-link:visited {
  font: bold;
  font-size: 3.5rem;
  text-decoration:solid;
  color: white;
  display: inline-block;
  font-family:Georgia, serif;
  font-weight: 900;
}

.nav-link:hover,
.nav-link:active {
  color: #f06236;
}

/* *************************************************** */
/* HERO SECTION */

.hero-section {
  margin-top: 9.6rem;
  padding: 5.8rem 0 2.6rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3.2rem;
  justify-items: center;
  align-items: center;
  /* background-color: #033249; */
  /* background-image: linear-gradient(to right,#614385, #516395); */
}
.building {
  height: 40rem;
  padding: 1px;
  /* background-color: #033249; */
  background-color: white;
  border: 2px solid white;
}

.primary-heading {
  color: white;
  font-weight: 500;
  font-size: 6.8rem;
}

/* ******************************************************** */

h2 {
  color: white;
  font-size:larger;
  font-weight: 1000;
  padding-bottom: 1.8rem;
}

/* ******************************************************** */
/* Table 1 */
.overview {
  margin: 5.6rem auto 0 auto;
  padding: 1rem;
}

.overview-table-section {
  max-width: 90vw;
  overflow-x: auto;
  margin: auto;
}
.overview-table {
  width: 100rem;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.overview-head {
  border-right: 1px solid #ccc;
  padding: 16px 24px;
  text-align: left;
  width: 35rem;
}

.overview-data {
  border-right: 1px solid #ccc;
  padding: 16px 24px;
  text-align: left;
  line-height: 1.4;
}
/* *************************************************** */
/* Table 2 */

.course-offered {
  margin: 9.6rem auto 9.6rem auto;
  padding: 1rem;
}
.course-offered-table-section {
  max-width: 90vw;
  overflow-x: auto;
  margin: auto;
}

.course-offered-table {
  width: 100rem;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.course-offered-name-head,
.course-offered-cutoff-head {
  background-color: black;
  color: #fff;
  width: 25%;
  border-right: 1px solid #ccc;
  padding: 16px 24px;
  text-align: left;
}

.course-offered-name {
  border-right: 1px solid #ccc;
  padding: 16px 24px;
  text-align: left;
  width: 60%;
}

.course-offered-cutoff {
  border-right: 1px solid #ccc;
  padding: 16px 24px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}
tbody tr:nth-child(even) {
  background-color: #e9ecef;
}

.copyright {
  text-align: center;
  /* background-color: #033249; */
  background-image: linear-gradient(to right, #2b5876,#4e4376);
  padding: 2.4rem 0 4.8rem 0;
  font-size: 1.4rem;
  color: #fff2eb;
  margin-top: auto;
}

/* ***************************************** */
/* Responsive */

@media (max-width: 88em) {
  .primary-heading {
    font-size: 3.2rem;
  }
  .nav-link {
    font-size: 2.2rem !important;
  }
  h2 {
    font-size: 2.4rem;
  }
  .course-offered-table,
  .overview-table {
    font-size: 1.8rem;
  }
}

@media (max-width: 66em) {
  .primary-heading {
    font-size: 2.4rem;
  }
  .nav-link {
    font-size: 1.8rem !important;
  }
  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 45em) {
  .primary-heading {
    font-size: 2rem;
  }
  .header {
    padding: 0 4.8rem;
  }
  .nav-link {
    font-size: 2rem !important;
  }
  .logo {
    width: 8rem;
    height: 8rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  .course-offered-table,
  .overview-table {
    font-size: 1.4rem;
  }
}

@media (max-width: 37em) {
  .building {
    height: 15rem;
    font-weight: 700;
  }
  .primary-heading {
    font-size: 1.4rem;
  }
  .copyright {
    font-size: 1rem;
  }
  .course-offered-table,
  .overview-table {
    font-size: 1.2rem;
    width: 70rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  .logo {
    width: 6rem;
    height: 6rem;
  }
  .nav-link {
    font-size: 2rem !important;
  }
  .overview-data {
    width: 70%;
  }
}

@media (max-width: 28em) {
  .primary-heading {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .building {
    height: 12rem;
  }
}

@media (max-width: 22em) {
  .primary-heading {
    font-size: 1rem;
    font-weight: 700;
  }
  .building {
    height: 8rem;
  }
  .copyright {
    font-size: 0.8rem;
  }
  .course-offered-table,
  .overview-table {
    font-size: 0.8rem;
  }

  h2 {
    font-size: 1rem;
  }
  .header {
    padding: 0 2.4rem;
  }
  .nav-link {
    font-size: 3rem !important;
  }
  .logo {
    width: 4.8rem;
    height: 4.8rem;
  }
}

.button {
  background-color:  #4681f4;
  border: none;
  color: rgb(224, 220, 220);
  font: bolder;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 50px 80px;
  cursor: pointer;
  border-radius: 30px;
}

/* button design */
.menu{
  /* background-color: white; */
  max-width: 200px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
}

.menu a{
  background-color: white;
  text-decoration: none;
  color: #080200;
  font-weight: 800;
  font-size: 18px;
  padding-top: 100px;
  padding: 10px 60px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu a:hover{
  background: #c0b9b5;
  color: black;
}


